.footer {
  background-color: rgba(0,1,22,255); 
  display: flex;
  justify-content: space-between;
  padding: 20px;
  }
  
  .social-links a {
  color: #FF4500; 
  text-decoration: none;
  font-size: 30px;
  transition: color 0.5s ease;
  margin-right: 10%;


  }
  .social-links a:hover {
    color: #40E0D0; /* neon teal */
  }
  
  .social-links a.active {
    color: #1E90FF; /* neon blue */
  }  
  
  .message {
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;

  }
  