/* Estilos CSS para el slider */

.movie-slider {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 10px;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .slide h4 {
    margin-top: 10px;
    text-align: center;
    color: #333;
  }
  
  .active {
    opacity: 1;
  }
  